/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #2e7d32;

}

header img {
    max-width: 80px;
    height: auto;
    margin-bottom: 10px;
}

/* Imagem do cabeçalho */
header img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

/* Navegação */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav li {
    font-size: 1.2em;
}

nav a {
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
    text-decoration: none;
}

nav a:hover {
    background-color: #4caf50;
}

/* Formulário de pesquisa */
form.barra-pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 16px;
}

form input[type="text"] {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #cccccc;
    width: 250px;
}

form input[type="submit"] {
    padding: 8px;
    margin-left: 16px;
    /* background-color: #002ab4; */
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #66bb6a;
}


/* Main */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #2e7d32;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
}



/* Artigos */
article {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s;
}

article:hover {
    transform: translateY(-5px);
}

article img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

article p {
    line-height: 1.8;
    color: #555;
}

article a {
    color: #2e7d32;
    font-weight: bold;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}


/* Vídeo */
section#videos {
    margin-top: 40px;
    text-align: center;
}

section#videos iframe {
    border-radius: 8px;
    max-width: 90%;
    margin: 0 auto;
}

section#especialistas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

section#especialistas img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

section#especialistas a {
    color: #2e7d32;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

section#especialistas a:hover {
    text-decoration: underline;
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

form input[type="submit"] {
    width: 80%;
    background-color: #388e3c;
    color: white;
    border: none;
    cursor: pointer;
}

/* Footer */
footer {
    background: linear-gradient(90deg, #2e7d32, #388e3c);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

footer a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* Responsividade */
@media (max-width: 768px) {

    header {
        width: auto;
        height: auto;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .barra-pesquisa {
        width: 35%;
        flex-direction: column;
        align-items: center;
    }

    article {
        padding: 20px;
        margin: 20px;
    }

    section#videos iframe {
        max-width: 80%;
    }

    section#especialistas img {
        width: 120px;
        height: 120px;
    }
}

@media screen and (min-widht: 769px) and (max-width: 1279px) {

    h2 {
        font-size: 1.5em;
        margin-top: 40px;
        margin-bottom: 20px;
        color: #000000;
        text-align: center;
    }


    .barra-pesquisa {
        width: 35%;
        flex-direction: column;
        align-items: center;
    }

    footer {
        width: 100%;
    }
}